.imageSlider {
    border-radius: 50%!important;
    height: 6rem!important;
    width: 6rem!important;
}

.cardStyle {
    border: 0!important;
    background-color: ''!important;
}

.cardBody {
    width: 82%!important;
    margin: auto!important;
}

.captionFontStyle {
    font-size: 15px;
}

.btnReview {
    background-image: linear-gradient(-90deg, #27211D, #D2AA5C)!important;
    color: black;
}

.h6Style {
    font-size: 1rem!important;
}

.spanStyle {
    font-size: 18px!important;
    color: red!important;
}

.quoteColor {
    font-size: 20px!important;
    color: #fff000!important;
}
.reviewHeaderFont{
 
        font-family: 'Philosopher', sans-serif;
}

@media only screen and (min-device-width: 992px) and (max-device-width:1202px) {
    .h6Style {
        font-size: 0.70rem!important;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width:500px) {
    .captionFontStyle {
        font-size: 11px;
    }
    .quoteColor {
        font-size: 12px!important;
        color: #fff000!important;
    }
    
}

@media only screen and (min-device-width: 767px) and (max-device-width:992px) {
    .h6Style {
        font-size: 0.74rem!important;
        margin-top:100px;
    }
    .spanStyle {
        font-size: 13px!important;
    }
    .h4Style {
        margin-top: 4rem!important;
    }
    .pStyle {
        font-size: 12px!important;
    }
    .quoteColor {
        font-size: 14px!important;
    }
}

@media only screen and (min-device-width: 518px) and (max-device-width:767px) {
    .h6Style {
        font-size: 0.85rem!important;
    }
    .btnReview {
        margin-bottom: 6rem!important;
    }
    .spanStyle {
        font-size: 17px!important;
    }
}

@media only screen and (min-device-width: 429px) and (max-device-width:518px) {
    .h6Style {
        font-size: 0.70rem!important;
    }
    .btnReview {
        margin-bottom: 3rem!important;
    }
    .spanStyle {
        font-size: 14px!important;
    }
}

@media only screen and (min-device-width: 392px) and (max-device-width:428px) {
    .h6Style {
        font-size: 0.60rem!important;
    }
    .btnReview {
        margin-bottom: 3rem!important;
    }
    .spanStyle {
        font-size: 13px!important;
    }
}

@media only screen and (min-device-width: 380px) and (max-device-width:391px) {
    .h6Style {
        font-size: 0.53rem!important;
    }
    .btnReview {
        margin-bottom: 3rem!important;
    }
    .spanStyle {
        font-size: 13px!important;
    }
}

@media only screen and (min-device-width: 327px) and (max-device-width:380px) {
    .h6Style {
        font-size: 0.50rem!important;
    }
    .btnReview {
        margin-bottom: 3.5rem!important;
    }
    .spanStyle {
        font-size: 10px!important;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width:326px) {
    .h6Style {
        font-size: 0.40rem!important;
    }
    .btnReview {
        margin-bottom: 3.5rem!important;
    }
    .spanStyle {
        font-size: 9px!important;
    }
}

:root {
    --blink-time: 40s;
}

.btnClass {
    border: none;
    margin: 5px;
    padding: 5px 10px;
    font-family: 'montserrat', sans-serif;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
}

.btnReview1 {
    background-image: linear-gradient(to left,  #27211D,#f01737)!important;
}

.btnReview1:hover {
    background-position: right;
    color:white;
}