.cvcStyle{
    width:70px!important;
    padding-left:1rem!important;
}
.expStyle{
    width:110px!important;
    padding-left:2rem!important;
}
.cardNumberStyle{
    width:230px!important;
    padding-left:2rem!important;
}

@media only screen and (min-device-width: 200px) and (max-device-width:500px) {
.labelCVC{
    font-size:12px!important;
}
.labelExp{
    font-size:12px!important;
}
.labelCard{
    font-size:12px!important;
}
}