.navbarAddProduct a{
    color:white!important;
    text-decoration:none;
}
.liStyle{
    display:grid;
    grid-template-columns:repeat(12,1fr);
}


.liHeaderStyle{
    background-color: #2d524a!important;
}
.nameStyle{
    grid-column: 1 / span 2!important;
}
.quantityStyle{
    grid-column: 3/ span 1!important;
}
.priceStyle{
    grid-column: 4/ span 1!important;
}

.typeStyle{
    grid-column: 5/ span 1!important;
}
.dateStyle{
    grid-column: 6/ span 2!important;
}

.destinationStyle{
    grid-column: 8/ span 5!important;
}
@media only screen and (min-device-width: 200px) and (max-device-width:500px) {
    .listStyle{
        font-size:12px!important;
        margin-left:4px!important;
    }
    .formSection{
        padding:0.50rem!important;
    }
}
