.navbarAddProduct a{
    color:white!important;
    text-decoration:none;
}

.liStyle{
    display:grid!important;
    grid-template-columns:repeat(9,1fr)!important;
}

.liHeaderStyle{
    background-color: #33413e!important;
}
.imageShipStyle{
    grid-column: 1 / span 4;
}
.imageStyleShip {
    height:50px!important;
    border-radius:0.85rem!important;
}
.nameShipStyle{
    grid-column: 5/ span 3!important;
}
.quantityShipStyle{
    grid-column: 8/ span 1!important;
}
.priceShipStyle{
    grid-column:9/ span 1!important;
}
.liShipmentDetail{
    height:3rem!important;
}


.destinationShipStyle{
    grid-column:6/ span 4!important;
}
@media only screen and (min-device-width: 200px) and (max-device-width:500px) {
    .listStyle{
        font-size:12px!important;
        margin-left:4px!important;
    }
    .formSection{
        padding:0.50rem!important;
    }
}
