.containerAdmin{
    background-color:#ffffff;
    padding-bottom:20%!important;
}
.adminColStyle{
    border-radius:0.80rem!important;  
}
.listAdminStyle{
    background-color: #ffc107!important;  

}
.hoverStyleAdmin:hover{
    background-color: #2d524a!important;
}