.navbarAddProduct a{
    color:white!important;
    text-decoration:none;
}
.liStyleShipment{
    display:grid;
    grid-template-columns:repeat(12,1fr);
}


.liHeaderStyleShipment{
    background-color: #2d524a!important;
}
.nameStyleShipment{
    grid-column: 1 / span 2!important;
}
/* .quantityStyleShipment{
    grid-column: 3/ span 1!important;
} */
.priceStyleShipment{
    grid-column: 3/ span 1!important;
}

.typeStyleShipment{
    grid-column: 4/ span 2!important;
}
.dateStyleShipment{
    grid-column: 6/ span 2!important;
}

.destinationStyleShipment{
    grid-column: 8/ span 5!important;
}
@media only screen and (min-device-width: 200px) and (max-device-width:767px) {
    .listStyleShipment{
        font-size:10px!important;
        font-weight: normal!important;
        margin-left:2px!important;
    }
    .formSection{
        padding:0.50rem!important;
    }
}
