.navbarAddProduct a{
    color:white!important;
    text-decoration:none;
}

.liStyleOrder{
    display:grid!important;
    grid-template-columns:repeat(10,1fr)!important;
}
.imageOrderStyle{
    grid-column: 1 / span 2!important;
}
.imageOrderStyle img{
    height:5rem!important;
    border-radius:0.85rem!important;
}
.liHeaderStyleOrder{
    background-color: #27211D!important;
}
.nameOrderStyle{
    grid-column: 3 / span 3!important;
}
.quantityOrderStyle{
    grid-column: 6/ span 3!important;
}
.priceOrderStyle{
    grid-column:9/ span 1!important;
}
@media only screen and (min-device-width: 200px) and (max-device-width:500px) {
    .listStyleOrder{
        font-size:12px!important;
        margin-left:4px!important;
    }
    .formSection{
        padding:0.50rem!important;
    }
    .imageOrderStyle img{
        height:3rem!important;
        border-radius:0.85rem!important;
    }
}
